#product-list{
    box-sizing: border-box;

    .wrapper{
        padding: 4rem 3rem 1rem 3rem;
        .header{
            color: black;
            font-weight: bold;
            font-size: 1.2rem;  
            display: flex;
            justify-content: space-between;
            img{
                &:hover{
                    cursor: pointer;
                }
            }

        }
        .filter-section{
            &.active{
                display: block;
            }
            display: none;
            .filter-up{
                display: flex;
                justify-content: space-evenly;
                .header{
                    margin-bottom: 2rem;
                    color: #777;
                    font-size: 1.1rem;
    
                }
                label{
                    margin-left: .5rem;
                    margin-bottom: .1rem;
                }
            }
            .filter-d1{
                display: flex;
                justify-content: flex-end;
                .clear-filter{
                    background-color: #fff;
                    border: none;
                    margin-right: 3rem;
                    margin-bottom: 1rem;
                    i{
                        margin-right: .5rem;
                    }
                }
            }
            .filter-down{
                display: flex;
                justify-content: flex-end;
                button{
                    height: 2rem;
                    padding: 1.5rem 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    background-color: black;
                    font-size: 1.2rem;
                    border-radius:5px;
                }
            }
        }
        .sub-wrapper{
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;
            .liked-link{
                color: inherit;
                text-decoration: inherit;
                .like-card{
                    border: none;
                    margin: 1rem 1rem 1rem 1rem;
                    .like-card-header{
                        width: 500px;
                        img{
                            width: 100%;
                        }
                                        
                &:hover{
                    opacity: .5;
                    
                }
                    }
    
                    .like-card-footer{
                        display: flex;
                        justify-content: space-between;
                        padding-top: .5rem;
                        span{
                            font-size: 1.5rem;
                            color: red;
                        }
                        .card-description{
                            font-size: .9rem;
                            .card-price{
                                font-weight: bold;
                            }
                        }
                    }
                    
                }


            }

       
        }
    }
}
// .left{
//     .header{
//         .logo{
//             a{
//                 color: black;
//                 font-weight: bold;
//             }
//         }
        
//         .gender-group {
    
            
//             .male,
//             .female {
//                 color: black;
//             }

//             .male.active,
//             .female.active {
//               background-color: black !important;
//               color: #fff !important;
//             }
        
//             .male:hover,
//             .female:hover {
//               background-color: black;
//               color: #fff;
//             }
//           }
//     }
// }
// .right{
//     background-color: black;
// }
